<!DOCTYPE html>
<html>
<head>
    <title>WS Service Cliente Ruby</title>
</head>
<body>
    <center>
        <h1>Servicios SOAP</h1>
        <br><br>
        <a href="/mensaje">Mensaje de Bienvenida</a>
        <br><br>
        <a href="/informacion">Información</a>
        <br><br>
        <a href="/operaciones">Operaciones Aritméticas</a>
        <br><br>
        <a href="/tabla">Tabla</a>
        <br><br>
    </center>
</body>
</html>
