<!DOCTYPE html>
<html>
<head>
    <title>WS Service Cliente Ruby - Mensaje</title>
</head>
<body>
    <center>
        <h1>Mensaje de Bienvenida</h1>
        <br><br>
        <%= @mensaje_ws %>
        <br><br>
        <a href="/">Volver</a>
    </center>
</body>
</html>
